<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Digital Curator  | AI art works recognition</title>
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="index">
	<meta name="description" content="The Digital Curator experiment attempts to demonstrate some of the basic capabilities of machine image recognition. With the help of Google Cloud Vision, it searched all digitized works from the National Gallery in Prague. It recognized persons, faces and diverse objects, marked their positions in the painting, gave a precise measure of the certainty of own estimation, examined the color scheme, and determined the proportions of each tone." />
	<link rel="stylesheet" type="text/css" href="{$basePath}/styles/base.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700|Ubuntu+Mono&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/favicon/site.webmanifest">
	<link rel="mask-icon" href="{$basePath}/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144703876-1"></script>
	<script n:syntax="double">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        	gtag('js', new Date());
        	gtag('config', 'UA-144703876-1');
	</script>

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
		<script src="{$basePath}/js/jquery-1.12.1.min.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script>
			$(function(){
				$.nette.init();
			});
		</script>

	{/block}
</body>
</html>
