<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex, nofollow">
	<title>DigitalCurator!!</title>
	<link rel="stylesheet" type="text/css" href="{$basePath}/styles/base.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700|Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
		<script src="{$basePath}/js/jquery-1.12.1.min.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script>
			$(function(){
				$.nette.init();
			});
		</script>

	{/block}
</body>
</html>
