body{
    background: #ffffff;
    color: #000000;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
}
.masterpiece-container{
    height: 100%;
    margin: 5vh auto 5vh auto;
}
.boundbox-container{
    position: relative;
}

/* masterpiece (image and title)  */

.masterpiece{
    max-height: 75vh;
    opacity:0;
    animation-fill-mode: forwards;
    animation-name: show-masterpiece;
    animation-duration: 4s;
}
.masterpiece-title{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    opacity:0;
    animation-fill-mode: forwards;
    animation-name: show-masterpiece;
    animation-duration: 4s;
    animation-delay: 1s;
}
.masterpiece-title h1{
    font-weight: 300;
    font-size: 1.5em;
}
.masterpiece-title p{
    font-size: 0.895em;
    font-weight: 300;
}
@keyframes show-masterpiece {
    0%   {opacity:0;}
    10%  {opacity:0;}
    100% {opacity:1;}
}

/* boundboxes  */

.boundbox{
    position: absolute;
    border: 4px solid #00FF00;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay:8s ;
    animation-name: show-boundbox;
    box-sizing: border-box;
    font-size: 1.25em;
}
.boundbox-description{
    position: absolute;
    left:0;
    top:0;
    box-sizing: border-box;
    text-align: left;
    color: #00FF00;
    padding: 0.5em;
}
.boundbox:nth-child(1)  {animation-delay: 4.0s;}
.boundbox:nth-child(2)  {animation-delay: 4.5s;}
.boundbox:nth-child(3)  {animation-delay: 5.0s;}
.boundbox:nth-child(4)  {animation-delay: 5.5s;}
.boundbox:nth-child(5)  {animation-delay: 6.0s;}
.boundbox:nth-child(6)  {animation-delay: 6.5s;}
.boundbox:nth-child(7)  {animation-delay: 7.0s;}
.boundbox:nth-child(8)  {animation-delay: 7.5s;}
.boundbox:nth-child(9)  {animation-delay: 8.0s;}
.boundbox:nth-child(10) {animation-delay: 8.5s;}
.boundbox:nth-child(11) {animation-delay: 9.0s;}
.boundbox:nth-child(12) {animation-delay: 9.5s;}


@keyframes show-boundbox {
    0%      {opacity:0;}
    50%     {opacity:1;}
    100%    {opacity:1;}
}

.boundbox-label,
.boundbox-color{
    width: 100%;
    height: 100%;
    left: 0%;
    top:0%;
}
.boundbox-label .line,
.boundbox-color .line{
    width: 100%;
    float: left;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-name: show-boundbox;
}
.boundbox-color .boundbox-color-description {
    top:auto;
    bottom: 0;
    z-index: 10;
}
.boundbox-color .line .write-color{
    float: left;
    height: 1em;
}
.boundbox-description .line:nth-child(1)  {animation-delay: 4.0s;}
.boundbox-description .line:nth-child(2)  {animation-delay: 4.5s;}
.boundbox-description .line:nth-child(3)  {animation-delay: 5.0s;}
.boundbox-description .line:nth-child(4)  {animation-delay: 5.5s;}
.boundbox-description .line:nth-child(5)  {animation-delay: 6.0s;}
.boundbox-description .line:nth-child(6)  {animation-delay: 6.5s;}
.boundbox-description .line:nth-child(7)  {animation-delay: 7.0s;}
.boundbox-description .line:nth-child(8)  {animation-delay: 7.5s;}
.boundbox-description .line:nth-child(9)  {animation-delay: 8.0s;}
.boundbox-description .line:nth-child(10) {animation-delay: 8.5s;}
.boundbox-description .line:nth-child(11) {animation-delay: 9.0s;}
.boundbox-description .line:nth-child(12) {animation-delay: 10.5s;}

/* boundboxes  */



