@charset "utf-8";
/* styles applied for all window widths */

body{
    font-family: "Helvetica Neue", sans-serif;
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 16em;
}
.boundBox{
    border:3px solid #00ff00;
    position:absolute;
    box-sizing: border-box;
}
.boundBox span{
    background: #00ff00;
}

