@charset "utf-8";
/* styles applied from a window width of 960px */

html{
    font-size: 18px;
}
body{
    margin: 0 0 0 0;
    padding-left:4rem;
    display: flex;
    height: 100vh;
    max-height: 100vh;
}
.container {
    height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.mainSection {
    height: 100%;
    display: flex;
}
.mainSection {
    width: auto;
    padding: 3rem 6rem 3rem 3rem;
}
.titleScreen{
    min-width: 75vw;
    flex-flow: column;
}
.titleImage{
    width: auto;
}
.artwork.titleImage{
    height: 100%;
}
.imageContainer{
    position: relative;
    height: 100%;
    width: auto;
}
.imageContainer img{
    height: 100%;
    width: auto;
}
.artwork.titleImage{
    height: 100%;
}
.introPart{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 6rem
}
.introPart.chart{
    overflow-x: visible;
    margin: 0 6rem 0 0;
    padding: 0;
    width: auto;
}
.galleryShowcase{
    align-items: center;
    display: flex;
}
.periodIntro{
    height: 100%;
    width: 0;
    position: relative;
    margin: 0;
}
.artwork{
    width: auto;
    display: flex;
    height: 75%;
}
.galleryIntro .detailInformation{
    min-width: 25vw;
}
.artworkDescription{
    margin: 0 5rem 0 1rem;
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.imageContainer{
    overflow: visible;
}

/* Main menu */

.mainMenu{
    width: auto;
    height: 100vh;
    display: block;
}
.menuFirstLevel{
    width: 4rem;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid #ffffff;
}
.menuIcon {
    border-left:none;
    border-right: 1px solid #fff;
    border-left: none;
    position: absolute;
    top:0;
    left: 0;
}
.menuFirstLevel .projectLogo {
    transform: rotate(90deg);
    position: absolute;
    top: 4rem;
    left: 0;
    height: 4rem;
    width: 4rem;
}
.menuSecondLevel,
.menuThirdLevel{
    width: 80vw;
    left:-80vw;
    border-right: 1px solid #ffffff;
    top:0;
    height: 100%;
}
.menuSecondLevel.opened,
.menuThirdLevel.opened{
    left:4rem;
}
.windowContent{
    width: 100%;
    height: calc(100% - 4rem);
    padding: 3rem;
}
.windowBackRow{
}

/* Main menu end */

/* Final screen */

.finalScreen .logo{
    display: inline-block;
}

/* Final screen end */

/* sharing panel start */

.sharingPanel{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    padding: 1.5rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sharingPanel *{
    margin: 0 0.25rem;
}
.sharingPanel .buttonIcon{
    width: 2rem;
    height: 2rem;
}
.sharingPanel .buttonText{
    padding: 0.25rem 1rem;
}
.sharingPanel .textJunction{
    line-height: 2rem;
    margin: 0 0.5rem;
    opacity: 0.5;
}
.buttonIcon.buttonOutline.done.link{background-image: url("../images/icon-done.svg");}

/* sharing panel end */
