@charset "utf-8";
/* styles applied from a window width of 840px */

html{
    font-size: 1.125em;
}
p{
    font-size: 14px;
}

/* title screen */

h1{
    font-size: 3.375rem;
}
.titleScreen{
    padding: 2rem 6rem 2rem 2rem;
}

/* title screen end */

/* gallery section */

.gallerySection{
    padding: 6rem;
}
.imageContainer{
    height: 100%;
    width: auto;
}
.imageContainer img{
    height: 100%;
    width: auto;
}

/* gallery section end */