@charset "utf-8";
/* styles applied from a window width of 1280px */
html{
    font-size: 18px;
}

/* intro */

.landInfo{
    padding-left:90vw;
}
.galleryCollection{
    padding-left: 400vw;
}
.mainSection.visionInfo{
    background-size: 750px;
}
.mainSection.visionInfo .placeHolder{
    width: 160vw;
}

/* intro firefox conditions */

@-moz-document url-prefix() {
    .galleryCollection {
        padding-left: 410vw;
    }
}

/* intro end */



