@charset "utf-8";
/* styles applied from a window width of 1280px */
html{
    font-size: 18px;
}

/* intro */

.landInfo{
    padding-left:90vw;
}
.galleryCollection{
    padding-left: 410vw;
}
.mainSection.visionInfo{
    background-size: 750px;
}
.mainSection.visionInfo .placeHolder{
    width: 160vw;
}

/* intro safari conditions */

@media not all and (min-resolution:.001dpcm) {
    @media {

        .landInfo{
            padding-left: 148vw;
        }
        .mainSection.visionInfo .placeHolder{
            width: 280vw;
        }
        .galleryCollection{
            padding-left: 230vw;
        }
    }
}

/* intro firefox conditions */

@-moz-document url-prefix() {
    .galleryCollection {
        padding-left: 370vw;
    }
}

/* intro end */



