@charset "utf-8";
/* styles applied from a window width of 960px */

html{
    font-size: 16px;
}
body{
    margin: 0 0 0 0;
    padding-left:4rem;
    display: flex;
}
.container {
    height: 100vh;
    max-height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* touchscreens */
@media (hover: none) and (pointer: coarse) {
    .container {
        overflow-x: auto;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
.progressBar {
  position: fixed;
  bottom: 0;
  width: 0%;
  height: 5px;
  background: #AB8B62;
  z-index: 100;
}

.mainSection {
    height: 100%;
    display: flex;
}
.mainSection {
    width: auto;
    padding: 3rem 3rem 3rem 3rem;
    height: 100%;
}
.titleScreen{
    min-width: 75vw;
    flex-flow: column;
    justify-content: space-between;
}
.titlePart span{
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    opacity: 0;
}
.titlePart span:nth-child(1){animation-delay: 0s;}
.titlePart span:nth-child(2){animation-delay: 0.1s;}
.titlePart span:nth-child(3){animation-delay: 0.2s;}
.titlePart span:nth-child(4){animation-delay: 0.3s;}
.titlePart span:nth-child(5){animation-delay: 0.4s;}
.titlePart span:nth-child(6){animation-delay: 0.5s;}
.titlePart span:nth-child(7){animation-delay: 0.6s;}
.titlePart span:nth-child(8){animation-delay: 0.7s;}
.titlePart span:nth-child(9){animation-delay: 0.8s;}
.titlePart span:nth-child(10){animation-delay: 0.9s;}
.titlePart span:nth-child(11){animation-delay: 1.0s;}
.titlePart span:nth-child(12){animation-delay: 1.1s;}
.titlePart span:nth-child(13){animation-delay: 1.2s;}
.titlePart span:nth-child(14){animation-delay: 1.3s;}
.titlePart span:nth-child(15){animation-delay: 1.4s;}
.titlePart span:nth-child(16){animation-delay: 1.5s;}
.titlePart span:nth-child(17){animation-delay: 1.6s;}
.titlePart span:nth-child(18){animation-delay: 1.7s;}
.titlePart span:nth-child(19){animation-delay: 1.8s;}
.titlePart span:nth-child(20){animation-delay: 1.9s;}
.titlePart span:nth-child(21){animation-delay: 2.0s;}
.titlePart span:nth-child(22){animation-delay: 2.1s;}
.titlePart span:nth-child(23){animation-delay: 2.2s;}
.titlePart span:nth-child(24){animation-delay: 2.3s;}
.titlePart span:nth-child(25){animation-delay: 2.4s;}
.titlePart span:nth-child(26){animation-delay: 2.5s;}
.titlePart span:nth-child(27){animation-delay: 2.6s;}
.titlePart span:nth-child(28){animation-delay: 2.7s;}
.titlePart span:nth-child(29){animation-delay: 2.8s;}
.titlePart span:nth-child(30){animation-delay: 2.9s;}
.titlePart span:nth-child(31){animation-delay: 3.0s;}
.titlePart span:nth-child(32){animation-delay: 3.1s;}
.titlePart span:nth-child(33){animation-delay: 3.2s;}
.titlePart span:nth-child(34){animation-delay: 3.3s;}
.titlePart span:nth-child(35){animation-delay: 3.4s;}
.titlePart span:nth-child(36){animation-delay: 3.5s;}
.titlePart span:nth-child(37){animation-delay: 3.6s;}
.titlePart span:nth-child(38){animation-delay: 3.7s;}
.titlePart span:nth-child(39){animation-delay: 3.8s;}
.titlePart span:nth-child(40){animation-delay: 3.9s;}
.titlePart span:nth-child(41){animation-delay: 4.0s;}
.titlePart span:nth-child(42){animation-delay: 4.1s;}
.titlePart span:nth-child(43){animation-delay: 4.2s;}
.titlePart span:nth-child(44){animation-delay: 4.3s;}
.titlePart span:nth-child(45){animation-delay: 4.4s;}
.titlePart span:nth-child(46){animation-delay: 4.5s;}
.titlePart span:nth-child(47){animation-delay: 4.6s;}
.titlePart span:nth-child(48){animation-delay: 4.7s;}
.titlePart span:nth-child(49){animation-delay: 4.8s;}
.titlePart span:nth-child(50){animation-delay: 4.9s;}
.titlePart span:nth-child(51){animation-delay: 5.0s;}
.titlePart span:nth-child(52){animation-delay: 5.1s;}
.titlePart span:nth-child(53){animation-delay: 5.2s;}
.titlePart span:nth-child(54){animation-delay: 5.3s;}
.titlePart span:nth-child(55){animation-delay: 5.4s;}
.titlePart span:nth-child(56){animation-delay: 5.5s;}
.titlePart span:nth-child(57){animation-delay: 5.6s;}
.titlePart span:nth-child(58){animation-delay: 5.7s;}
.titlePart span:nth-child(59){animation-delay: 5.8s;}
.titlePart span:nth-child(60){animation-delay: 5.9s;}
.titlePart span:nth-child(61){animation-delay: 6.0s;}
.titlePart span:nth-child(62){animation-delay: 6.1s;}
.titlePart span:nth-child(63){animation-delay: 6.2s;}
.titlePart span:nth-child(64){animation-delay: 6.3s;}
.titlePart span:nth-child(65){animation-delay: 6.4s;}
.titlePart span:nth-child(66){animation-delay: 6.5s;}
.titlePart span:nth-child(67){animation-delay: 6.6s;}
.titlePart span:nth-child(68){animation-delay: 6.7s;}
.titlePart span:nth-child(69){animation-delay: 6.8s;}
.titlePart span:nth-child(70){animation-delay: 6.9s;}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.titleScreen:before{
    content: ' ';
    height: 2.5rem;
    display: block;
}
.titleScreen .footerPart{
    display: flex;
    justify-content: space-between;
}
.titleScreen .footerPart .scrollInfo{
    display: flex;
}
.titleScreen .footerPart .aniIcon{
    opacity: 0.5;
    width: 3rem;
    height: 3rem;
}
.titleImage{
    width: auto;
}
.imageContainer{
    position: relative;
    height: 100%;
    width: auto;
}
.imageContainer img{
    height: 100%;
    width: auto;
}
.artwork.titleImage{
    height: 100%;
}
.introPart{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 3rem
}
.introPart.chart{
    overflow-x: visible;
    margin: 0 6rem 0 0;
    padding: 0;
    width: auto;
}
.galleryShowcase{
    align-items: center;
    display: flex;
}
.periodIntro{
    height: 100%;
    width: 0;
    position: relative;
    margin: 0;
}
.artwork{
    width: auto;
    display: flex;
    height: 75%;
}
.artworkDescription{
    margin: 0 5rem 0 1rem;
    width: 12rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.imageContainer{
    overflow: visible;
}

/* Main menu */

.mainMenu{
    width: auto;
    height: 100%;
    display: block;
}
.menuFirstLevel{
    width: 4rem;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid #ffffff;
}
.menuIcon {
    border-left:none;
    border-right: 1px solid #fff;
    border-left: none;
    position: absolute;
    top:0;
    left: 0;
}
.menuFirstLevel .projectLogo {
    transform: rotate(90deg);
    position: absolute;
    top: 4rem;
    left: 0;
    height: 4rem;
    width: 4rem;
}
.menuSecondLevel,
.menuThirdLevel{
    width: 80vw;
    left:-80vw;
    border-right: 1px solid #ffffff;
    top:0;
    height: 100%;
}
.menuSecondLevel.opened,
.menuThirdLevel.opened{
    left:4rem;
}
.windowContent{
    width: 100%;
    height: calc(100% - 4rem);
    padding: 3rem;
}
.windowBackRow{
}

/* Main menu end */

/* Final screen */

.finalScreen:before{
    content: ' ';
    height: 2.5rem;
    display: block;
}

/* Final screen end */

/* sharing panel start */

.sharingPanel{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    padding: 1.5rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
}
.sharingPanel *{
    margin: 0 0.25rem;
}
.sharingPanel .buttonIcon{
    width: 2rem;
    height: 2rem;
}
.sharingPanel .mediumButton{
    padding: 0.25rem 1rem;

}
.sharingPanel .textJunction{
    line-height: 2rem;
    margin: 0 0.5rem;
    opacity: 0.5;
}
.buttonIcon.secondaryButton.done.link{background-image: url("../images/icon-done.svg");}

/* sharing panel end */

/* intro */

.parallaxCover{
    width: 60vw;
    height: 100%;
}
.parallaxImage{
    width: 160vh;
}
.landInfo{
    display: flex;
    align-items: center;
    padding-left:100vw;
}
.landInfo article{
    width: 40vw;
}
.mainSection.museumsInfo{
    display: flex;
    color: #AB8B62;
    background-color: #ffffff;
    background-position: center right;
    background-repeat: no-repeat;
}
.museumsList{
    position: relative;
    top:100%;
    animation-name: movingNames;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7000px;
}
@keyframes movingNames {
    from {top:100%;}
    to {top:-7000px;}
}
.museumsInfo .introPart h2{
    width: 50vw;
}
.museumJunction{
    display: flex;
}
.museumJunction .firstPart{
    border: 2px solid #AB8B62;
    border-left: none;
    width: 5rem;
    height: 100%;
    margin-left: 3rem;
}
.museumJunction .secondPart{
    background-image: url("../images/intro/gold-line.svg");
    background-repeat: repeat-x;
    background-size: 100px;
    background-position: center;
    width: 14rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aniIcon{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6rem;
    width: 6rem;
}
.aniIconCloud{
    background-image: url("../images/ani-icon-cloud.gif");
    background-color: #ffffff;
}
.aniIconEye{
    background-image: url("../images/ani-icon-eye.gif");
    background-color: #111111;
}
.aniIconArrow{
    background-image: url("../images/ani-icon-arrow.svg");
    background-color: #111111;
}
.aniIconArrowWhite{
    background-image: url("../images/ani-icon-arrow-white.svg");
    background-color: #111111;
}
.aniIconScroll{
    background-image: url("../images/ani-icon-scroll.gif");
    background-color: #111111;
}
.mainSection.callToAction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;
}
.callToAction article{
    width: 40vw;
}
.mainSection.visionInfo{
    display: flex;
}
.mainSection.museumsInfoMobile{
    display: none;
}

/* upper line */

.upperLine{
    position: absolute;
    height: 100%;
    z-index: 7;
    color: #ffffff;
    display: flex;
    left: 150%;
}
.upperSection{
    display: flex;
    height: 100%;
    align-items: center;
}
.upperSection h2{
    width: 50vw;
    padding: 0 3rem;
    text-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.5);
}
.upperGallery{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
}
.upperGalleryStrip{
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: flex-end;
}
.upperGalleryStrip .imageFrame{
    margin-right: 1rem;
}
.upperGalleryStrip .imageFrame img{
    width: 100%;
    box-shadow: 0 0.25rem 1rem 0.25rem rgba(0,0,0,0.25);
}
.galleryHall .topStrip {width: 80%;}
.galleryHall .centerStrip {width: 100%;}
.galleryHall .bottomStrip {width: 70%;}

.galleryHall .strip1 .imageFrame:nth-child(1){width: 12.37%;}
.galleryHall .strip1 .imageFrame:nth-child(2){width: 16.35%;}
.galleryHall .strip1 .imageFrame:nth-child(3){width: 12.80%;}
.galleryHall .strip1 .imageFrame:nth-child(4){width: 22.33%;}
.galleryHall .strip1 .imageFrame:nth-child(5){width: 13.41%;}
.galleryHall .strip1 .imageFrame:nth-child(6){width: 22.74%;}

.galleryHall .strip2 .imageFrame:nth-child(1){width: 15.83%;}
.galleryHall .strip2 .imageFrame:nth-child(2){width: 13.99%;}
.galleryHall .strip2 .imageFrame:nth-child(3){width: 25.44%;}
.galleryHall .strip2 .imageFrame:nth-child(4){width: 15.02%;}
.galleryHall .strip2 .imageFrame:nth-child(5){width: 12.68%;}
.galleryHall .strip2 .imageFrame:nth-child(6){width: 17.05%;}

.galleryHall .strip3 :nth-child(1){width: 25.11%;}
.galleryHall .strip3 :nth-child(2){width: 15.48%;}
.galleryHall .strip3 :nth-child(3){width: 29.13%;}
.galleryHall .strip3 :nth-child(4){width: 16.06%;}
.galleryHall .strip3 :nth-child(5){width: 14.22%;}

.galleryCollection{
    padding-left: 390vw;
    width: 120vw;
}
.galleryCollection .imageFrame:nth-child(1){width: 9.82%;}
.galleryCollection .imageFrame:nth-child(2){width: 11.48%;}
.galleryCollection .imageFrame:nth-child(3){width: 10.58%;}
.galleryCollection .imageFrame:nth-child(4){width: 10.70%;}
.galleryCollection .imageFrame:nth-child(5){width: 9.79%;}
.galleryCollection .imageFrame:nth-child(6){width: 10.03%;}
.galleryCollection .imageFrame:nth-child(7){width: 18.87%;}
.galleryCollection .imageFrame:nth-child(8){width: 18.73%;}

.galleryRecognition{
    padding-left: 0;
    width: 105vw;
}
.galleryRecognition .imageFrame:nth-child(1){width: 13.29%;}
.galleryRecognition .imageFrame:nth-child(2){width: 12.98%;}
.galleryRecognition .imageFrame:nth-child(3){width: 12.51%;}
.galleryRecognition .imageFrame:nth-child(4){width: 11.43%;}
.galleryRecognition .imageFrame:nth-child(5){width: 12.90%;}
.galleryRecognition .imageFrame:nth-child(6){width: 13.10%;}
.galleryRecognition .imageFrame:nth-child(7){width: 10.27%;}
.galleryRecognition .imageFrame:nth-child(8){width: 13.51%;}

.galleryRecognition .visionFrame{
    position: relative;
}
.galleryRecognition .visionFrame.focuseIn .boundBox{
    opacity: 1;
}
.galleryRecognition .visionEyeBox{
    height: 100%;
    opacity: 0;
    position: fixed;
    left: 35vw;
    top:0;
    color: #AB8B62;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* visionEyeBox crates problems when scrolling on touchscreen */
@media (hover: none) and (pointer: coarse) {
    .galleryRecognition .visionEyeBox{
        display: none;
    }
}
.galleryRecognition .visionEyeBox p{
    position: absolute;
    top:3rem;
    margin: 0;
    width: 200%;
    z-index: 1;
}
.galleryRecognition.focuseIn .visionEyeBox{
    opacity: 1;
}
.galleryRecognition.focuseIn.focuseOut .visionEyeBox{
    opacity: 0;
}
.galleryRecognition .nextStep{
    opacity: 0;
    position: fixed;
    left: 50%;
    top:50%;
    margin: -3rem 0 0 -3rem;
}
.galleryRecognition.focuseIn.focuseOut .nextStep{
    opacity: 1;
}

.eyeBoxFrame{
    width: 40vh;
    height: 40vh;
    border: 2px solid #AB8B62;
    position: relative;
    margin: 7.5vh 0;
}
.eyeBoxFrame .aniIcon{
    position: absolute;
    left: 50%;
    margin-left: -3rem;
}
.eyeBoxFrame .aniIcon:nth-child(1){
    top:-3rem;
}
.eyeBoxFrame .aniIcon:nth-child(2){
    bottom:-3rem;
    transform: rotate(180deg);
}
.databaseInfo article{
    width: 40vw;
    color: #AB8B62;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.mainSection.visionInfo{
    background-image: url("../images/intro/files-pattern-left.png");
    background-repeat: repeat-y;
    background-position: center left;
    background-size: 600px;
}
.mainSection.visionInfo .placeHolder{
    width: 200vw;
}
/* upper line end*/

/* intro safari conditions */

@media not all and (min-resolution:.001dpcm) {
    @media {
        #introMap{
        }
    }
}

/* intro firefox conditions */

@-moz-document url-prefix() {
    .galleryCollection {
        padding-left: 350vw;
    }
}

/* intro end */
