@charset "utf-8";
/* styles applied from a window width of 840px */

html{
    font-size: 18px;
}
h1{
    font-size: 3.375rem;
    margin:0 0 1.687rem 0;
}
h3,
.subtitle{
    margin: 0 0 1.687rem 0;
}
.exhibitionPreview{
    width: calc(33.33% - 0.5rem);
    padding-top: calc(33.33% - 0.5rem);
}
