@charset "utf-8";
/* styles applied from a window width of 1600px */

/* intro */

.landInfo{
    padding-left:75vw;
}
.galleryCollection{
    padding-left: 440vw;
}
.mainSection.visionInfo{
    background-size: 900px;
}

/* intro firefox conditions */

@-moz-document url-prefix() {
    .galleryCollection {
        padding-left: 440vw;
    }
}