@charset "utf-8";
/* styles applied from a window width of 1440px */
html{
    font-size: 18px;
}
h1{
    font-size: 5.625rem;
    margin:0 0 2.812rem 0;
}
h2{
    font-size: 3.375rem;
}
.menuSecondLevel,
.menuThirdLevel{
    width: 50vw;
    left:-50vw;
}

/* intro */

.landInfo{
    padding-left:85vw;
}
.galleryCollection{
    padding-left: 420vw;
}

/* intro safari conditions */

@media not all and (min-resolution:.001dpcm) {
    @media {
        .landInfo{
            padding-left: 148vw;
        }
        .galleryCollection{
            padding-left: 220vw;
        }
    }
}

/* intro firefox conditions */

@-moz-document url-prefix() {
    .galleryCollection {
        padding-left: 380vw;
    }
}
