<html lang="en">
<head>
    <title>Digital Curator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="all, follow" />
    
    {% set styleVersion = 25 %}

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 480px)" href="{{ url_for('static', filename='style/from-480.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="{{ url_for('static', filename='style/from-600.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 840px)" href="{{ url_for('static', filename='style/from-840.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 960px)" href="{{ url_for('static', filename='style/from-960.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1280px)" href="{{ url_for('static', filename='style/from-1280.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)" href="{{ url_for('static', filename='style/from-1440.css') }}?v={{styleVersion}}">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1600px)" href="{{ url_for('static', filename='style/from-1600.css') }}?v={{styleVersion}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}?v={{styleVersion}}" defer></script>

    <!-- Chart JS-->
    <script src="{{ url_for('static', filename='Chart/Chart.js') }}"></script>

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Range Slider -->
    <script src="{{ url_for('static', filename='js/rangeSlider.js') }}?v={{styleVersion}}" defer></script>

    <!-- OG Tags -->
    <meta property="og:url" content="DigitalCurator.art" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ exName }}" />

    {% if artworksInPeriod is defined %}
        <meta property="og:description" content="Digital Curator's exhibitiion displaying artworks with {{artworksInPeriod.artworksWithObject[0][0]}} was assembled automatically by AI computer vision." />
    {% else %}
        <meta property="og:description" content="Digital Curator allows you to explore the art collections of Central European museums and search for artworks based on specific iconographic motifs. You can select a motif or combination of objects, and reveal the artworks across the centuries." />
    {% endif %}

    {% if titleImage is defined %}
        <meta property="og:image" content="{{titleImage._source.image_url}}" />
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144703876-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144703876-5');
    </script>

    <!-- Favicon -->

    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body id="wrapper" class="wrapper jsWrapper" onload="checkErrors()">
    {% include "menu.html" %}
    {% block content %}{% endblock %}
</body>

</html>