<html lang="en">
<head>
    <title>Digital Curator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}?v=15">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 480px)" href="{{ url_for('static', filename='style/from-480.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="{{ url_for('static', filename='style/from-600.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 840px)" href="{{ url_for('static', filename='style/from-840.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 960px)" href="{{ url_for('static', filename='style/from-960.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1280px)" href="{{ url_for('static', filename='style/from-1280.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1440px)" href="{{ url_for('static', filename='style/from-1440.css') }}?v=4">
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 1600px)" href="{{ url_for('static', filename='style/from-1600.css') }}?v=4">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}?v=6"></script>

    <!-- Chart JS-->
    <script src="{{ url_for('static', filename='Chart/Chart.js') }}"></script>

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Select 2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144703876-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-144703876-5');
    </script>

</head>

<body id="wrapper" class="wrapper jsWrapper" onload="checkErrors()">
    {% include "menu.html" %}
    {% block content %}{% endblock %}
</body>

<script src="{{ url_for('static', filename='horwheel/horwheel.js') }}?v=1"></script>
<script>
  var view = document.getElementById('wrapper');
  horwheel(view);
</script>

</html>