{% extends "base.html" %}
{% block content %}
{% set chartLineColors = ['#111','#2a9d8f','#e9c46a','#f4a261','#e76f51'] %}
{% if searchedObjects is defined %}

<!-- sharing popup -->
    <div class="sharingPopup closed" id="sharingPopup">
        <a onclick="closeWindow();" class="sharingPopupCover" id="sharingClosingFiled"></a>
        <div class="sharingPopupFlex">
            <div class="sharingPopupWindow">
                <a onclick="closeWindow();" class="sharingPopupClose"></a>
                <div class="sharingPopupImage" style="background-image:url('{{titleImage._source.image_url}}') "></div>
                <h3>Help Digital Curator and share your exhibition</h3>
                <p>Are you interested in new ways of exploring art? Support the efforts of Digital Curator and share your exhibition.</p>
                <div class="sharingLinks">
                    <a onclick="copyUrl();" class="jsCopyLink buttonIcon secondaryButton link"><span>Link</span></a>
                    <a href=""
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                       target="_blank" title="Share on Facebook" class="jsFbShare buttonIcon secondaryButton facebook"><span>Share on Facebook</span>
                    </a>
                    <a href=""
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                       target="_blank" title="Share on Twitter" class="jsTwShare buttonIcon secondaryButton twitter"><span>Share on Twitter</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="container" id="container">

{% if searchedObjects is defined %} {# Check if it receives results #}

    <!-- sharing panel -->
    <div class="sharingPanel">

        <span class="textJunction">Help Digital Curator and share via: </span>
        <a onclick="copyUrl();" class="jsCopyLink buttonIcon secondaryButton link"><span>Link</span></a>
        <a href=""
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           target="_blank" title="Share on Facebook" class="jsFbShare buttonIcon secondaryButton facebook"><span>Share on Facebook</span>
        </a>
        <a href=""
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           target="_blank" title="Share on Twitter" class="jsTwShare buttonIcon secondaryButton twitter"><span>Share on Twitter</span>
        </a>
        <span class="textJunction">or</span>
        <a onclick="return openMenu(), openSearch();" class="secondaryButton">Generate new exhibition</a>
    </div>

    <section class="mainSection titleScreen" id="exhibitionStart">
        <div class="titlePart">
            <h1>{{ exName }}</h1>
            <p class="subtitle flexItem">
                {{artworksInPeriod.artworksWithObject[0][1]|sum}} artworks from the years {{dateFrom}} - {{dateTo}} displaying {{artworksInPeriod.artworksWithObject[0][0]}}
            {% if searchedObjects|length > 1 %}
                & {{artworksInPeriod.artworksWithObject[1][1]|sum}} works with a {{artworksInPeriod.artworksWithObject[1][0]}}
            {% endif%}
                 were assembled automatically by AI computer vision. The generated exhibition was selected from a collection of {{galleriesSum['artworks count']}} artworks from {{galleriesSum['galleries count']}} museums in Austria, Bavaria, the Czech Republic, and Slovakia in {{ g.request_time() }}ec.
            </p>
        </div>
        <div class="footerPart">
            <a onclick="return openMenu(), openSearch();" class="primaryButton">Generate new exhibition</a>
        </div>
    </section>

    <!-- title image -->
    <section class="titleImage artwork">

        <div class="imageContainer">
            <img src="{{titleImage._source.image_url}}">
            <div class="boundBoxes">
                {% for detectedObject in titleImage._source.detected_objects %}
                    {% for selectedObject in simpleObjectList %}
                        {% if selectedObject == detectedObject['object'] %}
                            <div class="boundBox" style="left:{{ detectedObject.boundBox[1]*100 }}%; top: {{ detectedObject.boundBox[0]*100 }}%; width:{{ detectedObject.boundBox[3]*100 - detectedObject.boundBox[1]*100}}%; height: {{ detectedObject.boundBox[2]*100 - detectedObject.boundBox[0]*100}}%;">
                                <p>{{ detectedObject['object'] }}&nbsp;{{ 100*detectedObject['score']}}%</p>
                            </div>
                        {% endif%}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Main Intro -->
    <section class="mainSection galleryIntro">
        <div class="introPart introTitle ">
            <h2>Data & History</h2>
            <p class="subtitle">
            {{ searchedObjects[0]}}
            {% if searchedObjects|length > 1%}
                & {{ searchedObjects[1]}}
            {% endif%} frequency over the ages
            </p>
        </div>
        <div class="introPart chart">
            <canvas id="line-chart" width="800" height="450"></canvas>
            <p class="chartLegend">
            {% for i in range(artworksInPeriod.artworksWithObject|length) %}
                <span class="hint">
                    <span class="colorDot" style="background:{{chartLineColors[i]}}";></span>
                    {{artworksInPeriod.artworksWithObject[i][0]}}: {{artworksInPeriod.artworksWithObject[i][1]|sum}} artworks
                </span>
            {% endfor %}
            </p>
        </div>
        <article class="introPart detailInformation">
            <p>The histogram shows the quotient of images on which the searched motif was detected in relation to the total number of images in the database.</p>
        </article>
    </section>


    <!-- Galleries -->
    <!-- unpacking collections -->
    {% for collectionIndex in range(artworksForWeb|length) %}
    <section class="mainSection galleryShowcase">
        <div class="introPart introTitle ">
            <h2>{{ searchedObjects[collectionIndex]}}</h2>
        </div>

        <!-- unpacking periods -->
        {% for period in artworksForWeb[collectionIndex] %}
            <!-- unpacking period -->
            {%set roomNumber = loop.index - 1%}
            {% set romanNumbers = ['I','II','III','IV','V','VI','VII','VIII','IX','X','XI','XII','XIII','XIV','XV','XVI','XVII','XVIII','XIX','XX']%}
            {% for periodTitle, artworks in period.items() %}
                <div class="periodIntro">

                    <p class="periodTitle subtitle">Room {{romanNumbers[roomNumber]}}.<br>{{periodTitle}}</p>
                </div>

                <!-- unpacking artworks -->
                {% for artwork in artworks %}
                <div class="artwork">
                    <div class="imageContainer">
                        <img src="{{ artwork._source.image_url }}">
                        <div class="boundBoxes">

                            <!-- unpacking boundboxes-->
                            {% for detectedObject in artwork._source.detected_objects %}
                                {% for selectedObject in simpleObjectList %}
                                    {% if selectedObject == detectedObject['object'] %}
                                        <div class="boundBox" style="left:{{ detectedObject .boundBox[1]*100 }}%; top: {{ detectedObject.boundBox[0]*100 }}%; width:{{ detectedObject.boundBox[3]*100 - detectedObject.boundBox[1]*100}}%; height: {{ detectedObject.boundBox[2]*100 - detectedObject.boundBox[0]*100}}%;">
                                            <p>{{ detectedObject.object }}&nbsp;{{ 100*detectedObject.score }}%</p>
                                        </div>
                                    {% endif%}
                                {% endfor %}
                            {% endfor %}

                        </div>
                    </div>

                    <div class="artworkDescription">
                        <p class="museumInfo">
                            <strong>{{ artwork._source.title }}</strong> <br>
                            {% if artwork._source.author is defined %}
                                {{ artwork._source.author[0] }}<br>
                            {% endif %}
                            {% if artwork._source.date_earliest == artwork._source.date_latest %}
                                {{ artwork._source.date_earliest }}
                            {% else %}
                                between {{ artwork._source.date_earliest }}&nbsp;and&nbsp;{{ artwork._source.date_latest }}
                            {% endif %}
                            <br>
                            {{ artwork._source.gallery }}<br>
                            <span class="generatedInfo">{{ searchedObjects[collectionIndex] }}:&nbsp;{{ 100*artwork._source.average_score }}%</span>
                        </p>
                        <!-- Related tags -->
                        <div class="relatedTags">
                        {% for tag in artwork.related_tags %}
                            <a href="{{tag[1]}}" class="secondaryButton">{{tag[0]}}</a>
                        {% endfor%}
                        </div>
                    </div>
                </div>
                {% endfor %}


            {% endfor %}

        {% endfor %}

    </section>
    {% endfor %}


    <!-- final screen -->
    <div class="mainSection finalScreen">
        <div class="titlePart">
            <h1>Goodbye</h1>
        </div>
        <div class="footerPart">
            <a onclick="return openMenu(), openSearch();" class="primaryButton">Generate new exhibition</a>
        </div>
    </div>

{% endif %}
</div>

<!-- chart data -->

<script>

    // Global parameters for all charts:
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.defaultFontColor = '#111111';
    Chart.defaults.global.defaultFontSize = 16;
    Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
    Chart.defaults.global.tooltips.backgroundColor = "#111111";
    Chart.defaults.global.tooltips.titleFontSize = 16;
    Chart.defaults.global.tooltips.bodyFontSize = 16;
    Chart.defaults.global.tooltips.cornerRadius = 0;
    Chart.defaults.global.tooltips.xPadding = 20;
    Chart.defaults.global.tooltips.yPadding = 20;
    Chart.defaults.global.tooltips.borderColor = '#111111';
    Chart.defaults.global.tooltips.borderWidth = 1;
    Chart.defaults.global.tooltips.displayColors = true;
    Chart.defaults.scale.gridLines.display = false;
    Chart.defaults.scale.ticks.beginAtZero = true;

    // Bar chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{artworksInPeriod.periodStarts}},
            datasets: [

                {% for i in range(artworksInPeriod.artworksWithObject|length) %}
                {
                    label: "{{artworksInPeriod.artworksWithObject[i][0]}}",
                    backgroundColor: "rgba(255, 255, 255, 0)",
                    pointBackgroundColor: "{{chartLineColors[i]}}",
                    borderColor: "{{chartLineColors[i]}}",
                    pointRadius: 4,
                    pointHoverRadius: 6,
                    data: {{artworksInPeriod.artworksWithObject[i][2]}}
                },
                {% endfor%}

            ]
        },
        options: {
            legend: {display: false},
            title: {display: true},
            tooltips: {
                callbacks: {
                    title: function(tooltipItems, data) {
               return data.datasets[tooltipItems[0].datasetIndex].label;
						},
				label: function(tooltipItem, data) {
                        return ' '+tooltipItem.yLabel.toString() + ' %';

						}
                },
            },
            scales: {
                yAxes: [{
                    ticks: {
                        callback: function(value, index, values) {
                            return value + ' %';
                        }
                    }
                }]
            }
        },
    });
</script>

{% endblock %}