{% extends "base.html" %}
{% block content %}

<div class="container">

    <section class="mainSection titleScreen">
        <div class="titlePart">
            <h1>{{ searchedObjects[0]}}</h1>
            <p class="subtitle flexItem">Generated exhibition based on big cultural data</p>
        </div>
        <div class="footerPart">
            <p class="footnote flexItem">Lukáš Pilka, 2020</p>
        </div>
    </section>

    <section class="titleImage artwork">
        <div class="imageContainer">
            <img src="{{titleImage._source.image_url}}">
            <div class="boundBoxes">
                {% for detectedObject in titleImage._source.detected_objects %}
                <div class="boundBox"
                     style="left:{{ detectedObject.boundBox[1]*100 }}%; top: {{ detectedObject.boundBox[0]*100 }}%; width:{{ detectedObject.boundBox[3]*100 - detectedObject.boundBox[1]*100}}%; height: {{ detectedObject.boundBox[2]*100 - detectedObject.boundBox[0]*100}}%;">
                    <p>{{ detectedObject['object'] }}&nbsp;{{ 100*detectedObject['score']}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mainSection galleryIntro">
        <div class="introPart introTitle ">
            <h2>Data & History</h2>
            <p class="subtitle">How the proportion of images has changed over the history</p>
        </div>
        <div class="introPart chart">
            {% set chartLineColors = ['#111','#444','#777','#aaa','#ddd'] %}
            <canvas id="line-chart" width="800" height="450"></canvas>
            <p class="chartLegend">
            {% for i in range(artworksInPeriod.artworksWithObject|length) %}
                <span class="hint">
                    <span class="colorDot" style="background:{{chartLineColors[i]}}";></span>
                    {{artworksInPeriod.artworksWithObject[i][0]}}
                </span>
            {% endfor %}
            </p>

        </div>
        <article class="introPart detailInformation">
            <p>In 2015, Lev Manovich described Digital Art History as a set of methodologies using quantitative analysis to explore cultural artifacts. DAH represents a new approach to looking at history through mathematical and statistical ways with using cultural databases, digitized museum and archive collections, metadata, texts on art, and virtual reproductions of artworks. One of the methodologies in Digital Art History is visual analyzes based on current technologies of artificial intelligence and machine image recognition. Similar tools such as those used to navigate self-driving cars, identify people in photos, or classify medical images can also be used to look at historical paintings, graphics or drawings.</p>
            <p>Art historian is a person who can only remember hundreds of works of art in his or her memory, which he or she is able to recall and work with them. But are these the most important works? Are there other works that are much more relevant to the topic and whose finding can completely change meaning and message? Thanks to neural networks, it is possible to explore image databases of hundreds of thousands or millions of items, navigate them in large cultural data, and look at the history from a new perspective. How will our notion of a certain era change if it is based not only on a few canonical works but on all digitized works?</p>
        </article>
    </section>

    <!-- unpacking collections -->
    {% for collectionIndex in range(artworksForWeb|length) %}
    <section class="mainSection galleryShowcase">
        <div class="introPart introTitle ">
            <h2>{{ searchedObjects[collectionIndex]}}</h2>
        </div>

        <!-- unpacking periods -->
        {% for period in artworksForWeb[collectionIndex] %}

            <!-- unpacking period -->
            {% for periodTitle, artworks in period.items() %}
            <div class="periodIntro">
                <p class="periodTitle subtitle">{{periodTitle}}</p>
            </div>

                <!-- unpacking artworks -->
                {% for artwork in artworks %}
                <div class="artwork">
                    <div class="imageContainer">
                        <img src="{{ artwork._source.image_url }}">
                        <div class="boundBoxes">

                            <!-- unpacking boundboxes-->
                            {% for detectedObject in artwork._source.detected_objects %}
                            <div class="boundBox" style="left:{{ detectedObject .boundBox[1]*100 }}%; top: {{ detectedObject.boundBox[0]*100 }}%; width:{{ detectedObject.boundBox[3]*100 - detectedObject.boundBox[1]*100}}%; height: {{ detectedObject.boundBox[2]*100 - detectedObject.boundBox[0]*100}}%;">
                                <p>{{ detectedObject.object }}&nbsp;{{ 100*detectedObject.score }}</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="artworkDescription">
                        <p class="museumInfo">
                            {{ artwork._source.title }} <br>
                            {{ artwork._source.author[0] }}<br>
                            {% if artwork._source.date_earliest == artwork._source.date_latest %}
                                {{ artwork._source.date_earliest }}
                            {% else %}
                                between {{ artwork._source.date_earliest }}&nbsp;and&nbsp;{{ artwork._source.date_latest }}

                            {% endif %}

                            <br>
                            {{ artwork._source.gallery }}<br>
                        </p>
                        <p class="generatedInfo">
                            {{ searchedObjects[collectionIndex] }}:&nbsp;{{ 100*artwork._source.average_score }}%
                        </p>
                    </div>
                </div>
                {% endfor %}

            {% endfor %}

        {% endfor %}

    </section>
    {% endfor %}

    <div class="mainSection finalScreen">
        <div class="titlePart">
            <h1>Goodbye</h1>
        </div>
        <div class="footerPart">
            <p class="footnote flexItem">
                {% for collection in collectionsSum %}
                {{collection.key}}: {{collection.doc_count}}&nbsp;artworks<br>
                {% endfor %}
            </p>
        </div>
    </div>

</div>


<script>

    // Global parameters for all charts:
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.defaultFontColor = '#111111';
    Chart.defaults.global.defaultFontSize = 16;
    Chart.defaults.global.defaultFontFamily = "'Montserrat', sans-serif";
    Chart.defaults.global.tooltips.backgroundColor = "#111111";
    Chart.defaults.global.tooltips.titleFontSize = 16;
    Chart.defaults.global.tooltips.bodyFontSize = 16;
    Chart.defaults.global.tooltips.cornerRadius = 0;
    Chart.defaults.global.tooltips.xPadding = 20;
    Chart.defaults.global.tooltips.yPadding = 20;
    Chart.defaults.global.tooltips.borderColor = '#111111';
    Chart.defaults.global.tooltips.borderWidth = 1;
    Chart.defaults.global.tooltips.displayColors = true;
    Chart.defaults.scale.gridLines.display = false;
    Chart.defaults.scale.ticks.beginAtZero = true;

    // Bar chart
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{artworksInPeriod.periods}},
            datasets: [

                {% for i in range(artworksInPeriod.artworksWithObject|length) %}
                {
                    label: "{{artworksInPeriod.artworksWithObject[i][0]}}",
                    backgroundColor: "rgba(255, 255, 255, 0)",
                    pointBackgroundColor: "{{chartLineColors[i]}}",
                    borderColor: "{{chartLineColors[i]}}",
                    pointRadius: 4,
                    pointHoverRadius: 6,
                    data: {{artworksInPeriod.artworksWithObject[i][2]}}
                },
                {% endfor%}

            ]
        },
        options: {
            legend: {display: false},
            title: {display: true},
            tooltips: {
                callbacks: {
                    title: function(tooltipItems, data) {
               return data.datasets[tooltipItems[0].datasetIndex].label;
						},
				label: function(tooltipItem, data) {
                        return ' '+tooltipItem.yLabel.toString() + ' %';

						}
                },
            },
            scales: {
                yAxes: [{
                    ticks: {
                        callback: function(value, index, values) {
                            return value + ' %';
                        }
                    }
                }]
            }
        },
    });
</script>

{% endblock %}