{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="titleScreen">
        <div class="titlePart">
            <h1 >Image of a {{ searchedObject }}</h1>
            <h2 class="subtitle flexItem">Generated exhibition based on big cultural data</h2>
        </div>
        <div class="footerPart">
            <p class="tileScreenFootnote flexItem">Lukáš Pilka, 2020</p>
        </div>
    </div>
    <div class="gallerySection">
    {% for artwork in artworksForWeb %}
        <article class="artwork">
            <div class="imageContainer">
                <img src="{{ artwork['artworkImage']}}">
                {% for object in artwork['artworkDescription']['_source']['detected_objects'] %}
                    <div class="boundBox" style="left:{{ object.boundBox[1]*100 }}%; top: {{ object.boundBox[0]*100 }}%; width:{{ object.boundBox[3]*100 - object.boundBox[1]*100}}%; height: {{ object.boundBox[2]*100 - object.boundBox[0]*100}}%;">
                        <span>{{ object['object'] }}: {{ 100*object['score']}}%</span>
                    </div>
                {% endfor %}
            </div>
            <p class="artworkDescription">
            {{ artwork.artworkDescription._source.title }} <br>
            {{ artwork.artworkDescription._source.author[0] }}<br>
            {{ artwork.artworkDescription._source.date_earliest }}<br>
            {{ artwork.artworkDescription._source.gallery }}
            </p>
        </article>
    {% endfor %}
    </div>

</div>

{% endblock %}