
<!-- background menu cover -->
<a onclick="return closeMenu(), closeSearch();" class="menuCover" id="menuCover"></a>

<!-- main menu -->
<nav class="mainMenu" id="mainMenu">
    <section class="menuFirstLevel">
        <a href="/" class="projectLogo">DigitalCurator.art</a>
        <a onclick="openMenu();" class="menuIcon openMenu jsMenuIcon visible" id="jsOpenMenu"><span>Menu</span></a>
        <a onclick="closeMenu();" class="menuIcon closeMenu jsMenuIcon" id="jsCloseMenu"><span>Menu</span></a>
        <a onclick="openSearch();" class="menuIcon openSearch jsSearchIcon visible" id="jsOpenSearch"><span>Menu</span></a>
        <a onclick="closeSearch();" class="menuIcon closeSearch jsSearchIcon" id="jsCloseSearch"><span>Menu</span></a>
    </section>
    <section class="menuSecondLevel" id="menuSecondLevel">
        <a href="/" class="menuLink">Entrance</a>
        <a href="/browseexhibitions" class="menuLink">Browse exhibitions</a>
        <a href="/aboutproject" class="menuLink">About project</a>
        <a href="/joinus" class="menuLink">Join us</a>
    </section>
    <section class="menuThirdLevel" id="jsSearchWindow" >
        <div class="windowContent">
            {% block message %}{% endblock %}
            {% include "searchForm.html" %}
        </div>
    </section>
</nav>