
<a onclick="return openMenu();" class="closingField"></a>
<nav class="mainMenu">
    <section class="menuFirstLevel">
        <a href="/" class="projectLogo">DigitalCurator.art</a>
        <a onclick="return openMenu();" class="menuIcon menu jsMenuIcon" id="jsMenuIcon"><span>Menu</span></a>
    </section>
    <section class="menuSecondLevel" id="menuSecondLevel">
        <a onclick="return openSearch();" class="menuLink">Generate new exhibition</a>
        <a onclick="return openAbout();" class="menuLink">About project</a>
    </section>
    <section class="menuThirdLevel" id="jsSearchWindow" >
        <div class="windowBackRow">
            <a onclick="openSearch()" class="menuIcon back"><span>Close</span></a>
        </div>
        <div class="windowContent">
            {% block message %}{% endblock %}
            {% include "searchForm.html" %}
        </div>
    </section>
    <section class="menuThirdLevel" id="jsAboutWindow">
        <div class="windowBackRow">
            <a onclick="openAbout()" class="menuIcon back"><span>Close</span></a>
        </div>
        <div class="windowContent">
            {% include "aboutProject.html" %}
        </div>
    </section>
</nav>