<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>vanilla - horizontal</title>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=4">
        <script src="{{ url_for('static', filename='vanilla.js') }}"></script>
    </head>
    <body>
        <div class="block" id="start">
            Hello, scroll further
        </div>

        <div class="block">
            Why hello there
        </div>

        <div class="block">
            <a href="react.html">
                See react example
            </a>
        </div>

        <div class="block">
            <a href="#start">
                Back to start
            </a>
        </div>
    </body>
</html>
