{% if searchedObjects is not defined and galleryResultPage is true %}
<p class="errorMessage">No results match your selection.</p>
<br><br>
{% endif %}
<h3>Generate an exhibition across the collections of {{galleriesSum['galleries count']}} art museums from Austria, Bavaria, Czech Republic and Slovakia</h3>
<script>
    // selects with use Select2 and JQuery
    $(document).ready(function () {
        $('.searchedClassSelect').select2({
            placeholder: "E.g. rose, castle or boy",
            allowClear: false
        });
        $('.comparisonClassSelect').select2({
            placeholder: "E.g. sunflower, tower or girl",
            allowClear: false
        });
    });
</script>

<section class="searchForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="fieldBox">
            {{ form.searchedClassSelect.label }}
            {{ form.searchedClassSelect(class_="selectMultiple searchedClassSelect") }}
            {% for error in form.searchedClassSelect.errors %}
            <span class="errorMessage">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="fieldBox">
            <label class="row slider-labels sliderLabel">
                <div class="col-xs-6 caption">
                    Period: </span><span id="slider-range-value1"></span> - <span id="slider-range-value2"></span> AD
                </div>
            </label>
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-range"></div>
                </div>
            </div>
        </div>

        <div class="fieldBox hiddenInput">
            {{ form.dateFrom.label }}
            {{ form.dateFrom }}
            {% for error in form.dateFrom.errors %}
            <span class="errorMessage">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="fieldBox hiddenInput">
            {{ form.dateTo.label }}
            {{ form.dateTo }}
            {% for error in form.dateTo.errors %}
            <span class="errorMessage">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="fieldBox">
            {{ form.exhibitionName.label }}
            {{ form.exhibitionName(class_="Proceed")}}
            {% for error in form.exhibitionName.errors %}
            <span class="errorMessage">{{ error }}</span>
            {% endfor %}
        </div>
        <!--
        <div id="comparisonClassBox" class="fieldBox comparisonClassBox">
            {{ form.comparisonClassSelect.label }}
            {{ form.comparisonClassSelect(class_="selectMultiple comparisonClassSelect")}}
            {% for error in form.comparisonClassSelect.errors %}
            <span class="errorMessage">{{ error }}</span>
            {% endfor %}
        </div>
        -->
        <div class="fieldBox">
            {{ form.submit(class_="primaryButton mediumButton") }}
        </div>
    </form>
</section>