<h1>Browse generated exhibitions</h1>
<section class="exhibitionList">
    {% for exhibition in browseExhibitions %}
        <a href="{{exhibition.url}}" class="exhibitionPreview">
            <div class="previewImage" style="background-image:url({{exhibition.coverImage}})"></div>
            <div class="previewInfo">
                <h4>{{exhibition['name']}}</h4>
                <span>{{ exhibition['dateFrom'] }}-{{ exhibition['dateTo']}}<span>
            </div>
        </a>
    {% endfor %}

</section>