<h1>Browse generated exhibitions</h1>
<section class="exhibitionList">
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/01.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/02.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/03.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/01.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/02.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/03.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
    <a href="/" class="exhibitionPreview">
        <div class="previewImage" style="background-image:url('../static/images/exhibitions/01.png')"></div>
        <div class="previewInfo">
            <h4>Exhibition name</h4>
            <span>1900-1990</span>
        </div>
    </a>
</section>